<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/athletes/athlete.json.jbuilder",
      athlete: current_user
    ).html_safe %></script>
<% end %>

<main id="root">react is broken</main>