
.new-route-btn {
    margin: 20px;
    padding: 0px;
    background: rgb(252,76,3);
    color: rgb(250,250,250);
    border: 1px solid rgb(252,76,3);
    border-radius: 5px;
    width: 150px;
    height: 45px;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    cursor: pointer;
}

.route-list {
    display: flex;
    justify-content: space-evenly;
}