#global-nav {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.nav-bar {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(230,230,235);
}

#global-nav-logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(252,76,3);
    font-size: 30px;
    text-decoration: none;
    padding-left: 100px;
}

#login-btn {
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(252,76,3);
    font-size: 15px;
    border: 1px solid rgb(230,230,235);
    border-radius: 5px;
    padding: 8px 15px;
    margin-right: 100px;
    text-align: center;
    text-decoration: none;
}

#login-btn:hover {
    background: rgb(230,230,235);
}

.nav-dropdown-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:  rgb(252,76,3);
    font-size: 20px;
    border: none;
    padding: 5px 10px;
    margin-right: 100px;
    text-align: center;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    background: rgb(255,255,255);
    width: 100px;
    z-index: 1;
}

.nav-dropdown-item {
    display: block;
    border: 1px solid rgb(173,173,173);
    color: rgb(252,76,3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 40px;
    width: 100px;
    text-align: left;
    text-decoration: none;
    margin-right: 0;
}
.nav-dropdown:hover .nav-dropdown-content {
    display: block;
    left: auto;
    right: 100px;
}

.nav-dropdown:hover .nav-dropdown-btn {
    border: 1px solid rgb(173,173,173);
    border-bottom: none;
}