
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 0px;
    padding: 0px;
    border-bottom: 1px solid rgb(230,230,235);
    background-color: rgb(255,255,255);
    z-index: 1;
}

.left-navbar {
    padding-left: 10%;
    display: inline-flex;
    align-items: center;

}

.right-navbar {
    margin-right: 5%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

}
#global-nav-logo {
    font-weight: bolder;
    color: rgb(252,76,3);
    font-size: 25px;
    text-decoration: none;
    cursor: default;
}

#login-btn {
    color:  rgb(252,76,3);
    font-size: 14px;
    font-weight: bold;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-right: 10%;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    text-decoration: none;
}

#login-btn:hover {
    background: rgb(230,230,235);
}

.nav-dropdown {
    position: relative;
    display: inline-block;
    margin: 0px 20px;
}

.nav-dropdown-btn {
    font-weight: bold;
    color:  rgb(51,51,51);
    font-size: 15px;
    border: none;
    height: 50px;
    text-align: center;
}

.nav-dropdown:hover .nav-dropdown-btn {
    color: rgb(252,76,3);
    border: 1px solid rgb(220,220,220);
    border-bottom: none;
    border-top: none;
}

#nav-image {
    width: 35px;
    border-radius: 50%;
}

#profile-nav {
    font-size: 25px;
    padding-top: 8px;
    text-align: center;
    line-height: 50px;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    background: rgb(255,255,255);
    width: 150px;
    z-index: 99;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
    border: 1px solid rgb(220,220,220);
}

.nav-dropdown:hover .nav-dropdown-content.profile-nav {
    left: auto;
    right: 0px;
}

.nav-dropdown:hover .nav-dropdown-content.plus-nav {
    left: auto;
    right: 0px;
}

.nav-dropdown:hover .nav-dropdown-content.training-nav {
    right: auto;
    left: 0px;
}

.nav-dropdown-item {
    display: block;
    border: none;
    font-size: 15px;
    height: 40px;
    width: 150px;
    text-align: left;
    text-decoration: none;
    margin-right: 0;
}

.nav-dropdown-item:hover {
    background: rgb(230,230,235);
}

#plus-logo {
    color: #ED4D1E;
    font-size: 25px;
    font-weight: 400;
    padding: 0px 15px;
    text-align: center;
    line-height: 50px;
}