.create-workout-page {
    background: #FFFFFF;
    height: 100vh;
    width: 100%;
}

.create-workout-container {
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.create-workout-header {
    margin: 0px;
    padding-top: 30px;
    width: 100%;
}

.create-workout-form {
    display: flex;
    flex-direction: column;
}

.create-workout-form label {
    font-size: 13px;
    padding-top: 30px;
    padding-bottom: 5px;
}

.create-workout-form textarea {
    height: 100px;
    width: 50%;
    border: 1px solid #CCCCD0;
}


.create-workout-form input {
    height: 30px;
    width: 50%;
    padding-left: 10px;
    border: 1px solid #CCCCD0;
    font-size: 15px;
}

.distance-duration {
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #CCCCD0;
}

.distance {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.distance-duration .dist-label {
    padding-top: 10px;
    padding-right: 10px;
}

#distance-input {
    width: 80px;
}

.duration {
    display: flex;
    flex-direction: column;
}

.dur-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #CCCCD0;
}

.distance-duration .dur-label {
    padding-top: 10px;
    padding-right: 10px;
}

.duration .time-input {
    width: 30px;
    border: none;
    padding: 0px;
    text-align: right;
}

.duration .time-label {
    width: 30px;
    height: 30px;
    color: #CCCCD0;
    border-right: 1px solid #CCCCD0;
    padding: 0px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}

.workout-type {
    height: 30px;
    width: 100px;
}

#description-label {
    border-top: 1px solid #CCCCD0;
    margin-top: 30px;
}

.workout-description {
    padding: 10px;
}

.workout-form-buttons {
    display: flex;
}

#workout-submit-btn, #workout-cancel-btn {
    margin: 10px 0px;
    margin-right: 10px;
    background: rgb(252,76,3);
    color: rgb(250,250,250);
    border: 1px solid rgb(252,76,3);
    border-radius: 5px;
    width: 70px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

#workout-cancel-btn {
    border: none;
    line-height: 35px;
}